<web-app>
    <servlet>
        <servlet-name>LibroServlet</servlet-name>
        <servlet-class>biblioteca.servlet.LibroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibroServlet</servlet-name>
        <url-pattern>/LibroServlet</url-pattern>
    </servlet-mapping>
</web-app>
